@model BinaryCityProject.Models.Contact_Client_List

<div class="container"> 
    <div class="card">
        <div class="card-body d-flex justify-content-around">
            <h2 class="card-title">@Model.Contact!.Contact_Name</h2>
        </div>
        <div class="card-body d-flex justify-content-around">
            <p class="card-text">
                <h3>Client Key : <b>@Model.Client_Key</b> </h3>
                <h3> No. Of Total Contacts : @Model.clients!.Length</h3>
            </p>
        </div>

        @if (Model.clients!.Length! > 0)
        {

            <div class="container p-3"> 

                <table class="table table-bprdered table-striped" style="width:100%">
                    <thead>
                        <tr class="text-dark">
                            <th>Key</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.clients)
                        {
                            <tr class="text-dark">
                                <td width="25%">@obj.Client_Key</td>
                                <td width="25%">@obj.Client_Name</td>
                                <td>
                                    <div class="w-75 btn-group" role="group">
                                        <a class="text-dark" asp-area="" asp-controller="Client_Contact_List" asp-action="LinkContact"
                                   asp-route-Contact_Key="@Model.Contact_Key"
                                   asp-route-Client_Key="@obj.Client_Key">
                                            <button class="btn btn-primary">Link  Client</button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <br />

            </div>

        }
        else
        {

            <button type="button" class="btn btn-danger btn-lg">No Clients Available To Link [!]</button>

        }

    </div>
</div>


